<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="#">TodoList</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
        <a [routerLink]='["/"]' (click)='collapse()'>
          <span class='glyphicon glyphicon-home'></span> Home
        </a>
      </li>
      <li [routerLinkActive]='["link-active"]'>
        <a [routerLink]='["/todos"]' (click)='collapse()'>
          <span class='glyphicon glyphicon-th-list'></span> Todos
        </a>
      </li>
      <li *ngIf="!IsLogged()" [routerLinkActive]='["link-active"]'>
        <a [routerLink]='["/login"]' (click)='collapse()'>
          <span class='glyphicon glyphicon-th-list'></span> Login
        </a>
      </li>
      <li *ngIf="IsLogged()" [routerLinkActive]='["link-active"]'>
        <a (click)="onLogout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>
